<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

  <title>Insurance | About Us</title>

  <!-- Loading third party fonts -->
  <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|" rel="stylesheet" type="text/css">
  <!-- Loading main css file -->
</head>


<body>

<div id="site-content">

  <main class="main-content">
    <div class="page">
      <div class="fullwidth-block">
        <div class="container">
          <h1 class="entry-title">Why you should choose us?</h1>
          <p>If you'd like Esurance to handle repairs after an accident, choose an E-star facility to fix your car! Your
            repairs will be handled quickly by expert technicians. No hassle. No problem. Just quality work done, FAST.
            And the best part? We guarantee repairs for as long as you own the car. It all starts with filing your claim
            online. From there, a friendly agent will help you find an E-star center or you can use the facility locator
            above.

            If you'd like to handle repairs yourself, that works too. With photo claims, you can submit photos — we'll
            appraise the damage and send payment directly to you.
            Each repair center is a state-of-the-art facility that adheres to strict environmental/EPA standards. In
            addition, we're constantly monitoring our E-star network to ensure they deliver high-quality repairs and
            excellent service. And you'll also benefit from:</p>

          <div class="features">
            <div class="feature-numbered">
              <div class="num">1</div>
              <h2 class="feature-title">Open</h2>
              <p> Access to over 1,400 reputable facilities with highly trained experts.</p>
            </div>
            <div class="feature-numbered">
              <div class="num">2</div>
              <h2 class="feature-title">Keep in touch</h2>
              <p>Get text or email updates from your repair facility.</p>
            </div>
            <div class="feature-numbered">
              <div class="num">3</div>
              <h2 class="feature-title">You covered</h2>
              <p> Guaranteed repairs for as long as you own the car. Nice!</p>
            </div>
            <div class="feature-numbered">
              <div class="num">4</div>
              <h2 class="feature-title">Philosophy</h2>
              <p>We operate on the core philosophy of customer centricity</p>
            </div>
          </div>
        </div> <!-- .container -->
      </div> <!-- .fullwidth-block -->

      <div class="fullwidth-block" data-bg-color="#f1f1f1">
        <div class="container">
          <h2 class="section-title">The history</h2>
          <p>We are a family run insurance agency that has been operating for 70 years and three generations. Our goal
            has always been to provide a quality insurance product coupled with a personal touch that customers will
            value. </p>

          <p>We represent a number of carriers in order to provide multiple options for personal and commercial
            insurance. All of our companies are listed on our Pay-a-Bill page & Submit a Claim page. We are confident
            that if you have a need for a policy or questions on insurance that we can find the company or answer for
            you.</p>

          <p>If you'd like Esurance to handle repairs after an accident, choose an E-star facility to fix your car! Your
            repairs will be handled quickly by expert technicians. No hassle. No problem. Just quality work done, FAST.
            And the best part? We guarantee repairs for as long as you own the car. It all starts with filing your claim
            online. From there, a friendly agent will help you find an E-star center or you can use the facility locator
            above.

            If you'd like to handle repairs yourself, that works too. With photo claims, you can submit photos — we'll
            appraise the damage and send payment directly to you.</p>
        </div> <!-- .container -->
      </div> <!-- .fullwidth-block -->
    </div> <!-- .page -->
  </main>
</div>

<script src="assets/template/js/jquery-1.11.1.min.js"></script>
<script src="assets/template/js/plugins.js"></script>
<script src="assets/template/js/app.js"></script>

</body>

</html>
