.bi {
  margin-bottom: 4px;
}

.mat-button,
.mat-flat-button,
.mat-icon-button,
.mat-stroked-button {
  outline: none;
}

.navigation {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 20px;
}
