<button mat-button [matMenuTriggerFor]="menuCustomer">Customers</button>
<mat-menu #menuCustomer="matMenu">
  <button mat-menu-item routerLink="customers" routerLinkActive="active">Show All Customers</button>
  <button mat-menu-item routerLink="add" routerLinkActive="active">Add new Customer</button>
</mat-menu>
<button mat-button [matMenuTriggerFor]="menuAgent">Agents</button>
<mat-menu #menuAgent="matMenu">
  <button mat-menu-item routerLink="agents" routerLinkActive="active">Show All Agents</button>
  <button mat-menu-item routerLink="addAgent" routerLinkActive="active">Add new Agent</button>
</mat-menu>
<button mat-button [matMenuTriggerFor]="menuManager">Managers</button>
<mat-menu #menuManager="matMenu">
  <button mat-menu-item routerLink="managers" routerLinkActive="active">Show All Managers</button>
  <button mat-menu-item routerLink="addManager" routerLinkActive="active">Add new Manager</button>
</mat-menu>
<button mat-button [matMenuTriggerFor]="menuCeo">CEO</button>
<mat-menu #menuCeo="matMenu">
  <button mat-menu-item routerLink="ceos" routerLinkActive="active">Show All CEO</button>
  <button mat-menu-item routerLink="addCeo" routerLinkActive="active">Add new CEO</button>
</mat-menu>
<button mat-button [matMenuTriggerFor]="menuBranch">Branches</button>
<mat-menu #menuBranch="matMenu">
  <button mat-menu-item routerLink="branches" routerLinkActive="active">Show All Branches</button>
  <button mat-menu-item routerLink="addBranch" routerLinkActive="active">Add new Branch</button>
</mat-menu>
<button mat-button [matMenuTriggerFor]="menuPolicy">Policy</button>
<mat-menu #menuPolicy="matMenu">
  <button mat-menu-item routerLink="policies" routerLinkActive="active">Show All Policies</button>
  <button mat-menu-item routerLink="addPolicy" routerLinkActive="active">Add new Policy</button>
</mat-menu>

<router-outlet></router-outlet>
