
#divWeatherMain {
  display: block;
  border-radius: 10px;
  width: 150px;
  height: 220px;
  background: rgb(255, 255, 255);
  /*background: linear-gradient(180deg, rgb(224, 221, 221) 0%, rgb(220, 208, 208) 75%, rgb(225, 226, 232) 100%);*/
  color: #768089;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.weatherWidgetRow {
  display: block;
  margin: 0 auto;
  width: fit-content;
}

.sun {
  margin-top: 10px;
  color: #ffb700;
  filter: drop-shadow(1px 1px 10px #ffb700);
}

.moon {
  margin-top: 10px;
  color: #847e7e;
  filter: drop-shadow(1px 1px 10px #847e7e);
}

.cloudDiv {
  margin-top: -40px;
}

.cloud {
  color: rgb(104, 175, 197);
  filter: drop-shadow(1px 1px 5px rgb(104, 175, 197));
  animation-name: cloudMovement;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@keyframes cloudMovement {
  from {
    margin-left: -55px;
  }
  to {
    margin-left: 65px;
  }
}
