/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #EFEFBB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #D4D3DD, #EFEFBB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}

.mat-button,
.mat-flat-button,
.mat-icon-button,
.mat-stroked-button {
  outline: none !important;
  margin-right: 5px !important;
}

button:focus {
  outline: none !important;
}

.example-form {
  min-width: 150px !important;
  max-width: 500px !important;
  width: 100% !important;
}

.example-full-width {
  width: 100% !important;
}

th {
  padding-bottom: 20px !important;
  padding-top: 10px !important;
}

h2 {
  text-align: center !important;
  font-size: 30px !important;
}

.right {
  text-align: right !important;
}

.bi {
  margin-bottom: 3px !important;
}

.center {
  text-align: center;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.table thead th {
  border: none !important;
}
