<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="penal-heading">
          <h2>Manager List</h2>
        </div>
        <div class="panel-body">
          <table class="table table-sm">
            <thead>
            <tr>
              <th>Manager ID</th>
              <th>Manager Name</th>
              <th>Manager Last Name</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let manager of managerList | async">
              <td>{{manager.branchManagerId}}</td>
              <td>{{manager.firstName}}</td>
              <td>{{manager.lastName}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-primary">
        <div class="penal-heading">
          <h2>Agent List</h2>
        </div>
        <div class="panel-body">
          <table class="table table-sm">
            <thead>
            <tr>
              <th>Agent ID</th>
              <th>Agent Name</th>
              <th>Agent Last Name</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let agent of agentList | async">
              <td>{{agent.agentId}}</td>
              <td>{{agent.firstName}}</td>
              <td>{{agent.lastName}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <form (ngSubmit)="submitAgent()">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <mat-label>Manager ID</mat-label>
          <input [(ngModel)]="managerId" id="managerID" matInput name="managerID" required type="text">
        </mat-form-field>
      </div>
      <div class="form-group col-md-6">
        <mat-form-field class="example-full-width">
          <mat-label>Agent ID</mat-label>
          <input [(ngModel)]="agentId" id="agentID" matInput name="agentID" required type="text">
        </mat-form-field>
      </div>
    </div>
    <p class="text-danger">{{error}}</p>
    <button (click)="goBack()" color="primary" mat-stroked-button>
      <svg class="bi bi-arrow-90deg-up" fill="currentColor" height="1em" viewBox="0 0 16 16" width="1em"
           xmlns="http://www.w3.org/2000/svg">
        <path
          d="M2.646 6.854a.5.5 0 0 0 .708 0L6 4.207l2.646 2.647a.5.5 0 1 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 0 0 0 .708z"
          fill-rule="evenodd"/>
        <path
          d="M6 3.5a.5.5 0 0 0-.5.5v6.5A2.5 2.5 0 0 0 8 13h5.5a.5.5 0 0 0 0-1H8a1.5 1.5 0 0 1-1.5-1.5V4a.5.5 0 0 0-.5-.5z"
          fill-rule="evenodd"/>
      </svg>
      Back to CEO List
    </button>
    <button color="primary" mat-stroked-button type="submit">
      <svg class="bi bi-check2-circle" fill="currentColor" height="1em" viewBox="0 0 16 16" width="1em"
           xmlns="http://www.w3.org/2000/svg">
        <path
          d="M15.354 2.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L8 9.293l6.646-6.647a.5.5 0 0 1 .708 0z"
          fill-rule="evenodd"/>
        <path
          d="M8 2.5A5.5 5.5 0 1 0 13.5 8a.5.5 0 0 1 1 0 6.5 6.5 0 1 1-3.25-5.63.5.5 0 1 1-.5.865A5.472 5.472 0 0 0 8 2.5z"
          fill-rule="evenodd"/>
      </svg>
      Submit
    </button>
  </form>
</div>
