<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

  <title>Insurance | Resource</title>

  <!-- Loading third party fonts -->
  <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|" rel="stylesheet" type="text/css">

</head>


<body>

<div id="site-content">
  <main class="main-content">
    <div class="page">
      <div class="container">
        <h3 class="entry-title">Choose your own insurance plan</h3>
        <p>As one of the first companies to offer car insurance online, we know about doing things differently to make
          insurance painless for our customers. Since we sold our first policy in 1999, we've expanded to offer car
          insurance in 43 states, plus homeowners, renters, motorcycle insurance and more.

          By using technology, we enable our customers to do things quickly and easily online or with our mobile app.
          And while technology has changed a ton since we launched, our desire to always do better hasn't.

          We also use technology to operate as efficiently as possible and save money so we can pass those savings on to
          our customers. We were, after all, born online and built to save.</p>

        <div class="row">
          <div class="col-md-3">
            <h3>Insurance Options</h3>
            <ul class="arrow-list">
              <li>Car Insurance</li>
              <li>Condo Insurance</li>
              <li>Home Insurance</li>
              <li>Renters Insurance</li>
              <li>Life Insurance</li>
              <li>Motorcycle Insurance</li>
            </ul>
          </div>
          <div class="col-md-3">
            <h3>Claims</h3>
            <ul class="arrow-list">
              <li>Renters Insurance Quotes</li>
              <li>Small Business Insurance</li>
              <li>Medicare Supplement Insurance</li>
              <li>Supplemental Health Insurance</li>
              <li>Boat Insurance</li>
              <li>Life Insurance Quotes</li>
            </ul>
          </div>
          <div class="col-md-3">
            <h3>Praecent posuere</h3>
            <ul class="arrow-list">
              <li>Nam posuere purus vitae</li>
              <li>Praesent posuere porta</li>
              <li>Phasellus viverra urna</li>
              <li>Convallis tincidunt ante</li>
              <li>Tempor turpis nec tempor</li>
              <li>Mauris ligula ut sapien</li>
            </ul>
          </div>
          <div class="col-md-3">
            <h3>Mutual Funds</h3>
            <ul class="arrow-list">
              <li>Mutual Funds IRA</li>
              <li>Education Savings Plans</li>
              <li>All About Mutual Funds</li>
              <li>Choosing Mutual Funds</li>
              <li>Fund Management</li>
              <li>IRA Rollovers & Transfers</li>
            </ul>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <h3>Praecent posuere</h3>
            <ul class="arrow-list">
              <li>Nam posuere purus vitae</li>
              <li>Praesent posuere porta</li>
              <li>Phasellus viverra urna</li>
              <li>Convallis tincidunt ante</li>
              <li>Tempor turpis nec tempor</li>
              <li>Mauris ligula ut sapien</li>
            </ul>
          </div>
          <div class="col-md-3">
            <h3>State Farm Bank®</h3>
            <ul class="arrow-list">
              <li>Credit Cards</li>
              <li>Savings Accounts</li>
              <li>Fixed Rate CDs</li>
              <li>Checking Accounts</li>
              <li>Home Mortgages</li>
              <li>Car Loans</li>
            </ul>
          </div>
          <div class="col-md-3">
            <h3>Customer Care Center</h3>
            <ul class="arrow-list">
              <li>Simple Insights®</li>
              <li>Pay Insurance Bills</li>
              <li>Download Mobile Apps</li>
              <li>Manage Your Accounts</li>
              <li>Find a Repair Facility</li>
              <li>Diversity and Inclusion</li>
            </ul>
          </div>
          <div class="col-md-3">
            <h3>Newsroom</h3>
            <ul class="arrow-list">
              <li>File a Claim</li>
              <li>Track a Claim</li>
              <li>Business to Business</li>
              <li>Accessibility</li>
              <li>Small Business Insurance</li>
              <li>Medicare Supplement Insurance</li>
            </ul>
          </div>
        </div> <!-- .row -->

        <div class="row">
          <div class="col-md-6">
            <div class="boxed-feature">
              <i class="icon-document-person"></i>
              <div class="feature-desc">
                <h2 class="feature-title">Client form download</h2>
                <p>New State Farm® and U.S. Bank announcement—click here for more details.</p>
              </div>
            </div>

            <div class="boxed-feature">
              <i class="icon-bell-2"></i>
              <div class="feature-desc">
                <h2 class="feature-title">Alert download</h2>
                <p>We offer mutual funds, annuities, educational savings, and retirement planning.</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="boxed-feature">
              <i class="icon-man-chart"></i>
              <div class="feature-desc">
                <h2 class="feature-title">Statistics download</h2>
                <p>We offer a wide range of products to help protect what you worked to build.</p>
              </div>
            </div>

            <div class="boxed-feature">
              <i class="icon-folder"></i>
              <div class="feature-desc">
                <h2 class="feature-title">Briefs download</h2>
                <p>Download our award-winning mobile app for free.
                  Available for iOS and Android.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- .page -->
  </main>
</div>

<script src="assets/template/js/jquery-1.11.1.min.js"></script>
<script src="assets/template/js/plugins.js"></script>
<script src="assets/template/js/app.js"></script>

</body>

</html>
