<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

  <title>Insurance | Insurances type</title>

  <!-- Loading third party fonts -->
  <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|" rel="stylesheet" type="text/css">


</head>


<body>

<div id="site-content">

  <main class="main-content">

    <div class="page">
      <div class="container">
        <h3 class="entry-title">Welcome to Spring-Insurance</h3>
        <p>As one of the first companies to offer car insurance online, we know about doing things differently to make
          insurance painless for our customers. Since we sold our first policy in 1999, we've expanded to offer car
          insurance in 43 states, plus homeowners, renters, motorcycle insurance and more.

          By using technology, we enable our customers to do things quickly and easily online or with our mobile app.
          And while technology has changed a ton since we launched, our desire to always do better hasn't.

          We also use technology to operate as efficiently as possible and save money so we can pass those savings on to
          our customers. We were, after all, born online and built to save.</p>

        <div class="filter-links filterable-nav">
          <select class="mobile-filter">
            <option value="*">Show all</option>
            <option value=".skyscraper">skyscraper</option>
            <option value=".shopping-center">shopping-center</option>
            <option value=".apartment">apartment</option>
          </select>
          <strong>Select Category: </strong>
          <a href="#" class="current wow fadeInRight" data-filter="*">Show all</a>
          <a href="#" class="wow fadeInRight" data-wow-delay=".2s" data-filter=".skyscraper">skyscraper</a>
          <a href="#" class="wow fadeInRight" data-wow-delay=".4s" data-filter=".shopping-center">shopping-center</a>
          <a href="#" class="wow fadeInRight" data-wow-delay=".6s" data-filter=".apartment">apartment</a>
        </div>

        <div class="row">

          <div class="col-md-4">
            <div class="filterable-items">
              <div class="insurance-item filterable-item shopping-center">
                <div class="insurance-content">
                  <div class="insurance-icon"><i class="icon-sofa"></i></div>
                  <h3 class="insurance-title">Auto insurance</h3>
                  <p>You know you need it, and we know how to make it a breeze. Get the reliable, affordable coverage
                    you deserve in a jiffy. <br> We were, after all, born online and built to save.</p>
                  <a href="#" class="button">See details</a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="insurance-item filterable-item skyscraper">
              <div class="insurance-content">
                <div class="insurance-icon"><i class="icon-pool"></i></div>
                <h3 class="insurance-title">ShareSmart® coverage</h3>
                <p>Drive for Uber or Lyft? There may be coverage gaps between your rideshare company's insurance and
                  your personal insurance. ShareSmart can help.</p>
                <a href="#" class="button">See details</a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="insurance-item filterable-item apartment">
              <div class="insurance-content">
                <div class="insurance-icon"><i class="icon-nurse"></i></div>
                <h3 class="insurance-title">Renters coverage</h3>
                <p>Renters coverage is there to protect your stuff — and YOU. And the best news? It's easy and
                  affordable to add to your car insurance policy.</p>
                <a href="#" class="button">See details</a>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <div class="insurance-item filterable-item shopping-center">
              <div class="insurance-content">
                <div class="insurance-icon"><i class="icon-weigher"></i></div>
                <h3 class="insurance-title">Home Insurance</h3>
                <p>We have access to 5 home insurance companies and can run quotes with each one to fit your homeowner,
                  condo or tenant policy needs. </p>
                <a href="#" class="button">See details</a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="insurance-item filterable-item apartment">
              <div class="insurance-content">
                <div class="insurance-icon"><i class="icon-car"></i></div>
                <h3 class="insurance-title">Claims Response</h3>
                <p>We have a dedicated claims representative in our office. If you have questions or need help with a
                  claim, we are here to help. </p>
                <a href="#" class="button">See details</a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="insurance-item filterable-item skyscraper">
              <div class="insurance-content">
                <div class="insurance-icon"><i class="icon-shirt"></i></div>
                <h3 class="insurance-title">Commercial Insurance </h3>
                <p>Find out how our car insurance professionals can find you strong coverage at great value on your
                  policy. </p>
                <a href="#" class="button">See details</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div> <!-- .page -->
  </main>

  <div class="site-footer">
    <div class="widget-area">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-md-2">
            <div class="widget">
              <h3 class="widget-title">Contact</h3>
              <address> Company Name INC. 523 Burt Street, Omaha
              </address>
              <a href="#">Phone: +1 823 424 9134</a>
              <a href="mailto:info@company.com">info@company.com</a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-2">
            <div class="widget">
              <h3 class="widget-title">Company</h3>
              <ul class="no-bullet">
                <li><a href="#">About us</a></li>
                <li><a href="#">Infoline</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Join us</a></li>
                <li><a href="#">Cooperation</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-2">
            <div class="widget">
              <h3 class="widget-title">Products</h3>
              <ul class="no-bullet">
                <li><a href="#">Life insurance</a></li>
                <li><a href="#">Home insurance</a></li>
                <li><a href="#">Car insurance</a></li>
                <li><a href="#">Business insurance</a></li>
                <li><a href="#">Investment insurance</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-2">
            <div class="widget">
              <h3 class="widget-title">Our Solutions</h3>
              <ul class="no-bullet">
                <li><a href="#">Presentation</a></li>
                <li><a href="#">Testimonials</a></li>
                <li><a href="#">Examples</a></li>
                <li><a href="#">Our experts</a></li>
                <li><a href="#">Resources</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-2">
            <div class="widget">
              <h3 class="widget-title">Press Room</h3>
              <ul class="no-bullet">
                <li><a href="#">Advertisement</a></li>
                <li><a href="#">Interviews</a></li>
                <li><a href="#">Hot news</a></li>
                <li><a href="#">Photos</a></li>
                <li><a href="#">Marketing</a></li>
              </ul>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-2">
            <app-weather-api></app-weather-api>
          </div>
        </div>
      </div>
    </div>

    <div class="bottom-footer">
      <div class="container">
        <nav class="footer-navigation">
          <a href="#">Home</a>
          <a href="#">About us</a>
          <a href="#">Insurance plans</a>
          <a href="#">Resources</a>
          <a href="#">Contact</a>
        </nav>

        <div class="colophon">Copyright 2020</div>
      </div>
    </div>
  </div>
</div>

<script src="assets/template/js/jquery-1.11.1.min.js"></script>
<script src="assets/template/js/plugins.js"></script>
<script src="assets/template/js/app.js"></script>

</body>

</html>
